@font-face {
    font-family: 'Roboto'; /*a name to be used later*/
    src: url('./Roboto/Roboto-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Roboto-Thin'; /*a name to be used later*/
    src: url('./Roboto/Roboto-Thin.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Roboto-Bold'; /*a name to be used later*/
    src: url('./Roboto/Roboto-Bold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Roboto-Light'; /*a name to be used later*/
    src: url('./Roboto/Roboto-Light.ttf'); /*URL to font*/
}

html {
    font-family: 'Roboto';
    overflow: auto;
}
body {
    margin:0;
}
.side-nav {
    width: 25%;
    position: fixed;
    left: 0;
    top: 0;
    margin:0;
    height:100%;
    background-color: #FFFFFF;
    padding:0;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
}

.container-dashboard {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;

}
nav {
    width: 100%;
    background-color: #ffb74d;
    height: 122px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.container {
    margin: 0 auto;
    width: 85%;
    height: 100%;
}

.spinner-month {
    height: 100%;
    width: 50%;
    float: right;
}
.spinner-season {
    height: 100%;
    width: 50%;
    float: left;
}

.title {
    line-height: 122px;
    font-size: 44px;
    color: #FFFFFF;
    font-family: 'Roboto-Light';
    vertical-align: middle;
}

.selector {
    height: 30px;
    margin-left: 2rem;
}

main {
    padding-left: 25%;
}

header,footer {
    padding-left: 25%;
}

.main-container {
    margin: 0 auto;
}

.logo {
    text-align: center;
    margin-top: 10%;
}

#logo-container {
    height: 57px;
    margin-bottom: 32px;
}

#web-logo {
    display: inline-block;
    height:100%;
}

ul.side-nav.fixed-nav li {
    line-height: 44px;
}

.logo-img {
    margin: 0 auto;
    width: 6em;
    cursor: pointer;
}

.subtitle {
    display: block;
    font-size: 44px;
    font-family: 'Roboto-Thin';
    vertical-align: middle;
}

.account {
    padding-left:2rem;
    margin-top: 2rem;
}

.pointer {
    cursor: pointer;
}

.account > i {
    font-size: 44px;
    padding-left: 1rem;
    display: inline-block;
    vertical-align: middle;
}

.username {
    padding-left: 1rem;
    vertical-align: middle;
    font-family: 'Roboto-Thin';
    font-size: 16pt;
}

.footer {
    position: absolute;
    bottom: 0;
    width:100%;
    text-align: center;
}

.footer-description {
    font-size: 12pt;
    font-family: 'Roboto-Thin';
}

#referee-data {
    width: 100%;
    text-align: center;
}

table {
    border-collapse:collapse;
    overflow:auto;
}

th,td {
    padding: 15px 5px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 2px;
}

th {
    font-family: 'Roboto-Bold';
    font-size: 16pt;
}

td {
    font-size: 14pt;
}

table.referee-data>thead>tr{
    border-bottom: solid 1px #d0d0d0;
}

tbody>tr {
    border-bottom: 1px solid #d0d0d0;
}

tr:hover {
    background-color: #ffe0b2;
    transition: background-color .25s ease;
}

.revenue {
    background-color: #ffb74d;
    -webkit-box-shadow: 1px -3px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px -3px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 1px -3px 5px 0px rgba(0,0,0,0.35);
}

.table-content {
    overflow: auto;
}

nav.footer-nav {
    position:fixed;
    right: 0;
    bottom:0;
    width:75%;
    height: 200px;
    background-color: #ff9800;
}

td i {
    font-size: 14pt !important;
    vertical-align: middle;
    padding-left: 10px;
    cursor: pointer;
}

.summary {
    font-family: 'Roboto-Light';
    color: #fff;
    font-weight: 600;
    float: right;
    width: 50%;
    height: 100%;
    padding-top: 20px;
}

.takse {
    display: block;
    clear: right;
    font-size: 24px;
}

.commute {
    padding-top: 10px;
    font-size: 22px;
    display: block;
}

.cash {
    padding-left: 2rem;
}

.monthly {
    border-top: solid 1px #ffffff;
    font-size: 28px;
    display: block;
}

/*TODO PREUREDI TA CSS*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.edit-td {
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
}
.modal-footer {
    border-top: 1px solid #d0d0d0;
    padding: 2px 16px;
    overflow: auto;
}

.modal-body {
    padding: 2px 16px;
}

.flat-btn {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    float: right;
    cursor: pointer;
}

.flat-btn:hover {
    background-color: rgba(0,0,0,0.1);
    box-shadow: none;
}

.btn-container {
    padding-top: 10px;
}

.textarea {
    z-index: auto;
    position: relative;
    line-height: 22px;
    font-size: 15px;
    transition: none;
    background: transparent !important;
    height: 22px;
    overflow-y: hidden;
    padding: .8rem 0 1.6rem 0;
    resize: none;
    min-height: 3rem;
}
.text-area {
    padding-bottom: 1rem;
}
textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}

.change-password {
    background-color: #ffffff;
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.form_element {
    margin: 0 auto;
    width: 60%;
    margin-top: 0.5em;
    height: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.form_element label {
    color: #424242;
    position: relative;
    left: 0;
    font-size: 1.7rem;
    cursor: text;
    float: left;
}

.no-padding-top {
    padding-top: 0;
}

.form_element input[type=file] {
    padding-top: 1.5rem;
    font-size: 20px;
    cursor: pointer;
}

#distance-checkbox {
    margin-left: 1rem;
}

.form_element .button_submit {
    width: 30%;
    color:#FFF;
    background-color: #03A9F4;
    text-align: center;
    border: none;
    border-radius: 2px;
    height: 41px;
    text-transform: uppercase;
    vertical-align: middle;
    transition: background-color .4s ease-out;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    margin-left: 35%;
}

.form_element .button_submit:hover {
    background-color: #29b6f6;
    cursor: pointer;
}

.form_element .button_submit:active {
    margin-top: 1px;
}

.form_element .button_submit:focus {
    outline: none;
}

.form_element.margin_top {
    margin-top: 5em;
}

input[type=text], input[type=password] {
    padding-left: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3.5rem;
    width: 100%;
    font-size: 2rem;
    margin: 5px 0 20px 0;
    cursor: text;
}

input {
    color: inherit;
    font: inherit;
}

input[type=text]:focus, input[type=password]:focus{
    border-bottom: 1px solid #03A9F4;
    box-shadow: 0 1px 0 0 #03A9F4;
}

input#password_again {
    margin-bottom: 0;
}

.small-screen-container {
    margin-top: 30%;
    width: 100%;
}

.checkbox-responsive {
    width: 36px;
    height: 36px;
}


#warning_msg.hidden {
    margin-top: 1rem;
    text-align: left;
    color: #ef5350;
    visibility: hidden;
}

#warning_msg.visible {
    margin-top: 1rem;
    text-align: left;
    color: #ef5350;
    visibility: visible;
}
